body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #203c8e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#user-info {
    color: white;
    font-size: 14px;
}

main {
    padding: 20px;
}

#general-info {
    margin-top: 20px;
}

#addUserBtn {
    margin-bottom: 20px;
    background-color: #3f89ea;
    border: none !important;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}

#addAttendance {
    color: #367de8;
    text-decoration: underline;
}


.popup form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    align-items: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 10px;
}

.popup label {
    font-weight: bold;
    margin: 5px;
}

.popup input[type="text"],
.popup input[type="password"],
.popup select {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    transition: border-color 0.3s ease;
}

.popup input[type="text"]:focus,
.popup input[type="password"]:focus,
.popup select:focus {
    border-color: #007bff;
}

.popup button {
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.popup button:hover {
    background-color: #0056b3; 
}
