body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #203c8e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#user-info {
    color: white;
    font-size: 14px;
}

main {
    padding: 20px;
}

#general-info {
    margin-top: 20px;
}

#addUserBtn {
    margin-bottom: 20px;
    background-color: #3f89ea;
    border: none !important;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}

#addAttendance {
    color: #367de8;
    text-decoration: underline;
}